# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
cover.out
e2e-reports/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# emacs
.\#*

# vim
*.swp

# ignore bin
bin/
hack/docker/mysql-operator-sidecar/mysql-operator-sidecar
hack/docker/mysql-operator/mysql-operator
**/charts/*.tgz
*.bak

# ignore vscode
.vscode

# goland
.idea

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.DS_Store
webroot/*

.work
.cache
_output

build
